// Brand colors
// -------------------------

@brand-primary:         #fe4d2c;
@brand-main: #71DEE2;
@brand-secondary: #37AAAD;
@gray-main: #f8f8f8;
@gray-secondary: #e9e9e9;



// Glyphicons path
// -------------------------

@icon-font-path:        "../vendor/bootstrap/fonts/";

@import url(http://fonts.googleapis.com/css?family=Questrial);

@font-family-sans-serif:  "Questrial", Helvetica, Arial, sans-serif;
